img {
  width: 10em;
}

.oferta {
  margin: 2em;
  border: 1px solid black;
  text-align: center;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#silenciosa {
  background-color: rgb(133, 238, 203);
}

#kitana {
  background-color: rgb(233, 139, 241);
}

#buenito {
  background-color: rgb(209, 245, 175);
}

button:hover /*:not(:disabled)*/ {
  background-color: rgb(117, 117, 253);
}

button:active {
  background-color: rgb(102, 23, 102);
}

.oferta:target {
  font-size: 25px;
}
:link {
  color: black;
}
:visited {
  color: gray;
}

button.pago-paypal::before {
  content: "Soy Paypal ";
}
button.pago-mercado-libre::before {
  content: "Soy MercadoLibre ";
